
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Open+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #3E5860;
}

body {
    background-color: #F3F3F3;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;


}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

.full-width{
    background-color: #D2E2EE;
}





/* ------- HEADER ------- */

header {
    display: flex;
    justify-content: space-between;
}

.left-sidebar {
    height: 810px;
    width: 165px;
    background-color: #002A32;
}

.logo {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigations ul>li:hover{
    background-color: #3C6C7F;
    color: #B6DCFF;

}



.navigations>ul {
    display: flex;
    flex-direction: column;
}

.navigations>ul>li>a {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.navigations>ul>li>img {
    width: 33px;
    height: 30px;
}

.navigations>ul>li>span {
    font-size: 15px;
    color: #8999A1;
}

.preview-box {
    /* background-image: url('../img/image_on_mainpng.jpg'); */
    /* background-size:  100%; */
    /* background-position: 0%; */
    /* background-repeat: no-repeat; */
    flex: 1 1 auto;
    position: relative;
    padding-left: 95px;
    padding-right: 165px;
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px ;
}

:is(.auth-link, .other-link) :is(ul) {
    display: flex;
    gap: 35px;
}

:is(.auth-link, .other-link) li>a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}



.banner {
width: 40%;
height: 100%;
display: flex;
}

.banner-img {
    position: absolute;
    top: 0px;
    left: -165px;
    z-index: -1;
    min-width: 1440px;
    display: flex;
    align-items: end;
    user-select: none;
}

.content-banner {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction:column;
    gap: 5px;

}

.content-banner h3{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: 700;
}
.content-banner h1{
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 50px;
}
.content-banner a{
    font-family: 'Open Sans', sans-serif;
    border: 2px solid #264A51;
    padding:9px 19px 
}

.desc-product {
    position: absolute ;
    width: 190px;
    height: 135px;
    top: 200px;
    left: 700px;
}
.desc-product>span {
    position: absolute;
    top: 0px ;
    display: block;
    width: 125px;
    font-weight: 500;
    font-family: 'Dosis';
}
.desc-product>img {
    right: 0px;
    top: 7px;
    position: absolute;
}

.supporting-company {
    padding: 0px 165px;
    height: 140px;
}
.supporting-company>ul{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}




.filter {
}
.btn-filter {
}
.products {
}
.card {
}
.main-block-card {
    width: 350px;
    height: 315px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #F1F6F9;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}
.product-image {
    display: flex;
}
.markers-product {

}
.sale {
}
.new {
}
.stock {
}
.btn-for-card {
    display: flex;
    justify-content: center;
}
.btn-for-card>div {
    background-color: #71B3C6;
    display: flex;
}
.full-image {
}
.up-rating {
}
.to-favorites {
}
.to-cart {
}
.title-block {
}
.price-block {
}
.rating-result {
}
.active {
}